{% extends 'base.html' %}

{% block header %}
    <br>
    <br>
{% endblock %}

{% block body %}
    <div class="search-form">
        <form action="{{ url_for('vulnerabilities') }}" method="post">
            <input placeholder="Search vulnerabilities..." 
                id="input" 
                class="input" 
                name="query" 
                type="text"
                value="{{ search_query if search_query else '' }}"/>
            <button class="button-18" type="submit">Search</button>
            {% if search_query %}
                <a href="{{ url_for('vulnerabilities') }}">
                    <button class="button-18" type="button">Clear</button>
                </a>
            {% endif %}
        </form>
    </div>

    <h1>Vulnerabilities List</h1>
    <div class="table-container">
        <div class="table-responsive">
            {{ table | safe }}
        </div>
    </div>
{% endblock %}